
div.pdfemb-viewer {
	overflow: hidden;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	position: relative;
	text-align: left;
}

div.pdfemb-inner-div {
	overflow: hidden;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	border: none;
	position: relative;
	background-color: lightGrey;
	width: 100%;
	height: 100%;
	display: inline-block;
}

div.pdfemb-inner-div-wantmobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: lightgray;
    opacity: 0.5;
}

div.pdfemb-inner-div-wantmobile-fswrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

div.pdfemb-wantmobile-fsarea {
    position: relative;
    width: 80%;
    margin: 40% auto 0 auto;
    padding: 10px;
    height: 20%;
    max-height: 35px;
    text-align: center;
    opacity: 1;
    cursor: pointer;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:4px solid #363600;
    background-color:#C5BDCF;
    -webkit-box-shadow: #B3B3B3 8px 8px 8px;
    -moz-box-shadow: #B3B3B3 8px 8px 8px;
    box-shadow: #B3B3B3 8px 8px 8px;

    color: black;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 110%;
}

.grab-to-pan-grab {
  cursor: move !important;
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  cursor: grab !important;
}

.grab-to-pan-grab *:not(input):not(textarea):not(button):not(select):not(:link) {
  cursor: inherit !important;
}
.grab-to-pan-grab:active,
.grab-to-pan-grabbing {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;

  z-index: 50000; /* should be higher than anything else in PDF.js! */
}

div.pdfemb-loadingmsg {
	text-align: center;
	padding: 5px;
}

div.pdfemb-viewer canvas {
	position: relative;
	top: 0px; 
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

div.pdfemb-toolbar {
	padding: 0px;
	margin: 0px;
	border: none;
	z-index: 10;
	 
    background-color: grey; 
    width: 100%;
}

div.pdfemb-toolbar-fixed {
    display: block;
    position: absolute;
}

div.pdfemb-toolbar-hover {
    display: none;
    position: absolute;
}

div.pdfemb-toolbar-top {

	top: 0px;
	left: 0px;
}

div.pdfemb-toolbar-bottom {

	bottom: 0px;
	left: 0px;
}

div.pdfemb-toolbar button {
	margin: 6px 0 6px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 25px;
	font-family: sans-serif;
	font-size: 10px;
	padding: 5px;
	text-align: center;
	color: buttontext;
	background-color: buttonface;
	box-sizing: border-box;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 1;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	font-weight: normal;
	display: inline-block;
}

div.pdfemb-toolbar button.pdfemb-btndisabled {
	color: lightGray;
}

div.pdfemb-toolbar div {
	margin: 6px 0 6px 10px;
	font-family: sans-serif;
	font-size: 10px;
	padding: 5px;
	text-align: center;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 1;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	font-weight: normal;
	display: inline;
	color: lightgray;
}

div.pdfemb-errormsg {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

.pdfemb-fsp-wrapper {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4000;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.pdfemb-fsp-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}
